.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(12, 12, 12, 0.85);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 200;
  animation: var(--animation-fade-in);
}

.modalBackdrop button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
  font-weight: 500;
  position: absolute;
  right: 4rem;
  top: 4rem;
  z-index: 100;
  background: #ffffff17;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modalBackdrop span {
  width: 30px;
  height: 2px;
  background: #fff;
  position: absolute;
  border-radius: 5px;
  transition: var(--transition);
}

.modalBackdrop span:nth-child(1) {
  transform: rotate(45deg);
}

.modalBackdrop span:nth-child(2) {
  transform: rotate(-45deg);
}

.modalBox {
  width: 760px;
  max-width: 90%;
  max-height: 90%;
  overflow: auto;
  border-radius: 1rem;
  animation: var(--animation-translate);
}

iframe {
  width: 100%;
  border: 0;
}

@media screen and (max-width: 574px) {
  .modalBackdrop button {
    right: 2rem;
  }
}