.section {
  padding: 16rem 4rem 10rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

.card {
  border-radius: 1.2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.image {
  width: 100%;
  height: auto;
  transition: var(--transition);
}

.content {
  padding: 2rem 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}

.title {
  font-size: 2.6rem;
  font-weight: 600;
  opacity: 0.85;
  width: 80%;
  flex-grow: 1;
}

.link {
  margin-top: 1rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--color-4);
  display: flex;
  gap: 1rem;
  border-bottom: 3px solid var(--color-4);
  transition: var(--transition);
}

.link:hover {
  opacity: 0.85;
}

.link:hover .arrow {
  transform: translateX(5px);
}

@media screen and (max-width: 1024px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    text-align: initial;
  }

  .content {
    align-items: initial;
  }

  .link {
    width: max-content;
  }
}

@media screen and (max-width: 820px) {
  .row {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 574px) {
  .section {
    padding: 8rem 2rem 4rem;
  }

  .row {
    margin-top: 4rem;
  }

  .title {
    font-size: 2rem;
  }

  .link {
    font-size: 1.6rem;
  }
}