.titleSection {
  font-family: var(--title-font);
  font-size: 6rem;
  font-weight: 400;
  text-align: center;
  line-height: 110%;
  color: #000;
}

@media screen and (max-width: 574px) {
  .titleSection {
    font-size: 4rem;
    text-align: left;
  }
}