.titleSection {
  font-family: var(--title-font);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}

/* 848px */
@media (max-width: 53em) {
  .titleSection {
    text-align: initial;
  }
}

/* 576px */
@media (max-width: 36em) {
  .titleSection {
    font-size: 3.8rem;
  }
}