.section {
  padding: 10rem 4rem;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.row {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

.card {
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.boxIcon {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: rgba(255, 221, 171, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxIcon svg {
  width: 32px;
  height: 32px;
  fill: var(--color-4);
}

.cardTitle {
  margin-top: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.cardParagraph {
  margin-top: 0.8rem;
}

@media screen and (max-width: 1024px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    align-items: initial;
    text-align: initial;
  }
}

@media screen and (max-width: 574px) {
  .section {
    padding: 8rem 2rem 4rem;
  }

  .row {
    margin-top: 4rem;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}