.section {
  padding: 10rem 4rem;
}

.container {
  max-width: 120rem;
  margin: auto;
}

.row {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
}

.card {
  border-radius: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.boxIcon {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
  background-color: rgba(255, 221, 171, 0.50);
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxIcon svg {
  width: 3.2rem;
  height: 3.2rem;
  fill: var(--color-4);
}

.cardTitle {
  margin-top: 2rem;
  font-size: 2.4rem;
  font-weight: 600;
}

.cardParagraph {
  margin-top: 0.8rem;
}

/* 1024px */
@media (max-width: 64em) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    align-items: initial;
    text-align: initial;
  }
}

/* 576px */
@media (max-width: 36em) {
  .section {
    padding: 8rem 2rem 4rem;
  }

  .row {
    margin-top: 4rem;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
}