.section {
  padding: 16rem 4rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.box h2 {
  font-size: 10rem;
  font-weight: 500;
  color: var(--color-4);
  letter-spacing: -1px;
}

.box p {
  font-size: 1.8rem;
  letter-spacing: 0.02em;
  opacity: .7;
}

/* 1024px */
@media (max-width: 64em) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
  }
}

/* 576px */
@media (max-width: 36em) {
  .section {
    padding: 0 2rem 2rem;
  }

  .container {
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .box {
    align-items: initial;
  }

  .box h2 {
    font-size: 6rem;
  }
}