.section {
  padding: 16rem 4rem;
  background-color: var(--black);
}

.container {
  max-width: 1000px;
  margin: auto;
}

.phrase {
  font-size: 5rem;
  text-align: center;
  font-family: var(--title-font);
  line-height: 1.5em;
  color: var(--white);
}

.phraseSpan {
  color: var(--white);
  background: linear-gradient(to bottom right, rgba(255, 106, 7, .966), #ffc446);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 848px */
@media (max-width: 53em) {
  .phrase {
    text-align: initial;
  }
}

/* 576px */
@media (max-width: 36em) {
  .section {
    padding: 8rem 2rem;
  }

  .phrase {
    font-size: 3rem;
    text-align: initial;
  }
}