.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  padding: 2rem 4rem;
  background-color: var(--body-background);
  z-index: 3;
  transition: var(--transition);
}

.headerScrolled {
  box-shadow: var(--box-shadow-1);
}

.nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.menuLink {
  font-size: 1.7rem;
  font-weight: 600;
  opacity: .9;
  border: 1px solid rgba(18, 18, 18, .2);
  border-radius: 2rem;
  padding: .5rem 2.3rem;
  transition: var(--transition);
}

.menuLink:hover {
  border: 1px solid var(--color-2);
  background-color: var(--color-2);
  opacity: 1;
}

.openMenuButton {
  display: none;
}

.closeMenuButton {
  display: none;
}

.overlay {
  opacity: 0;
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .openMenuButton {
    display: block;
    cursor: pointer;
    padding: .5rem 1.2rem;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 1rem;
    background: transparent;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .menu {
    position: fixed;
    top: 0;
    left: -110%;
    width: 80%;
    height: 100vh;
    overflow-y: auto;
    background-color: rgba(18, 18, 18, .9);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 3rem;
    padding: 8rem 4rem;
    z-index: 3;
    transition: var(--transition);
  }

  .menu.open {
    left: 0;
  }

  .overlay.open {
    opacity: 1;
    visibility: visible;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 7, 22, 0.5);
    backdrop-filter: blur(10px);
    z-index: 2;
  }

  .closeMenuButton {
    border: none;
    background: none;
    display: block;
    position: absolute;
    top: 2.7rem;
    right: 2rem;
    cursor: pointer;
  }

  .closeMenuButton svg {
    width: 30px;
    height: 30px;
    fill: var(--white);
  }

  .menuLink {
    color: var(--white);
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 574px) {
  .header {
    padding: 1.5rem 2rem;
  }

  .logo img {
    width: 40px;
  }
}