.section {
  padding: 10rem 4rem;
}

.container {
  max-width: 1000px;
  margin: auto;
}

.row {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10%;
}

.form {
  max-width: 450px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-self: stretch;
}

.label {
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.containerInput {
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 1.7rem;
  padding: 1.5rem;
  border: 2px solid #6A450E40;
  border-radius: 1rem;
  background-color: transparent;
  box-shadow: var(--box-shadow-1);
  outline: none;
}

.textarea {
  resize: none;
  display: block;
  width: 100%;
  min-height: 200px;
  font-size: 1.7rem;
  line-height: 1.6em;
  padding: 1.5rem;
  border: 2px solid #6A450E40;
  border-radius: 1rem;
  background-color: transparent;
  box-shadow: var(--box-shadow-1);
  outline: none;
  transition: var(--transition);
}

.containerButtons {
  display: flex;
  gap: 2rem;
}

.buttonSubmit {
  font-size: 1.8rem;
  font-weight: 700;
  border: 0;
  border-radius: 1rem;
  padding: 1.8rem 3.3rem;
  background: var(--color-2);
  background: linear-gradient(to right top, var(--color-3), var(--color-2));
  width: 100%;
  cursor: pointer;
  box-shadow: var(--box-shadow-2);
  transition: var(--transition);
}

.buttonSubmit:hover {
  opacity: .85;
}

.col2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding-top: 2.5rem;
}

.box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.boxIconSocial {
  border-radius: 50%;
  background-color: rgba(255, 221, 171, 0.50);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}

.boxIconSocial svg {
  width: 30px;
  height: 30px;
  fill: var(--color-4);
}

@media screen and (max-width: 820px) {
  .row {
    margin-top: 6rem;
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  .col2 {
    display: none;
  }

  .form {
    max-width: 100%;
  }

}

@media screen and (max-width: 574px) {
  .section {
    padding: 8rem 2rem 4rem;
  }

  .row {
    margin-top: 4rem;
  }
}