.whatsAppIcon {
  position: fixed;
  right: 4rem;
  bottom: 4rem;
  padding: 1.2rem;
  border-radius: 50%;
  background-color: #d4ffcb;
  width: 70px;
  height: 70px;
  fill: #068d62;
  z-index: 2;
  transition: var(--transition);
}

.whatsAppIcon:hover {
  transform: translateY(-5px);
}

.appear {
  animation: var(--animation-fade-in);
}

/* 576px */
@media (max-width: 36em) {
  .whatsAppIcon {
    /* right: 2rem;
    bottom: 2rem;
    width: 60px;
    height: 60px; */
    display: none;
  }
}