.section {
  padding: 10rem 4rem;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  margin-top: 6rem;
  display: grid;
  gap: 4rem;
}

.faqsContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.col1 {
  width: 10%;
}

.faqsNumber {
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-4);
  text-align: center;
}

.col2 {
  width: 90%;
}

.questionContainer {
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.question {
  font-size: 2rem;
  font-weight: 600;
  opacity: 0.85;
  line-height: 1.4em;
  max-width: 90%;
}

.questionIcon {
  width: 40px;
  height: 40px;
  fill: var(--color-4);
  transform: rotate(0deg);
  transition: .25s transform ease;
}

details[open] .questionIcon {
  transform: rotate(180deg);
  transition: .25s transform ease;
}

.answer {
  margin-top: 2rem;
  max-width: 90%;
}

/* 848px */
@media (max-width: 53em) {
  .col1 {
    display: none;
  }

  .col2 {
    width: 100%;
  }
}

/* 576px */
@media (max-width: 36em) {
  .section {
    padding: 8rem 2rem 4rem;
  }

  .row {
    margin-top: 4rem;
  }

  .question {
    font-size: 1.8rem;
  }

  .answer {
    max-width: 85%;
  }
}