.button {
  font-size: 1.6rem;
  opacity: .75;
  transition: var(--transition);
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button:hover {
  opacity: .95;
}

.arrow {
  width: 2rem;
  height: 2rem;
  transition: var(--transition);
}

.button:hover .arrow {
  transform: translateX(-5px);
}